{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <!-- <style>
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  </style> -->
</head>

<body>
  <div id="graph"></div>
      <button onclick="javascript:randomize();">Move X!</button>

<script type="text/javascript">
  


 var move_marker = {
                    x: [50],
                    y: [50],
                    mode: 'markers',
                    name: 'Office',
                    text: ['school'],
                    marker: {
                      color: 'rgb(0,165,0)',
                      size: 40,
                      line: {
                        color: 'rgb(0,0,0)',
                        width: 0.5,
                        dash: 'dot',
                      }
                    }
                  };


Plotly.newPlot('graph', [move_marker], {}, {showSendToCloud: true});
function randomize() {
var max=0.5;
var min=0.4;

  Plotly.animate(
    "graph",
    {
      data: [{ x: [50+0.2],y:[50.2]}],
      traces: [0],
      layout: {}
    },
    {
      transition: {
        duration: 500,
        easing: "cubic-in-out"
      }
    }
  );
}

</script>
    
  </body>
</html>